.imgdiv{
    width: 500px;
    height: 500px;
    border: 2px solid gray;
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-08/220805-border-collie-play-mn-1100-82d2f1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 50%;
}